<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end" (click)="logOut()">
        <ion-icon slot="start" name="log-out"></ion-icon>
    </ion-buttons>
    <ion-title><img class="thf-menu-logo" src='assets/img/totvs-logo-menu.svg'></ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar [(ngModel)]="queryText" (ionChange)="updateSchedule()" placeholder="Procurar"></ion-searchbar>
  </ion-toolbar>

</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

    <ion-list #scheduleList [hidden]="shownSessions === 0">
      <ion-item-group *ngFor="let group of groups" [hidden]="group.hide">
        <ion-item-divider sticky>
          <ion-label>
            {{group.date}}
          </ion-label>
        </ion-item-divider>

        <ion-item-sliding *ngFor="let event of group.itens" #slidingItem >
          <ion-item routerLink="/events/{{event.event_code}}">
            <ion-label>
              <h3>{{event.event_name}}</h3>
              <ion-badge color="success" style="margin-right: 1%;">Horário: {{event.dateTimeStart | date: 'mediumDate }}</ion-badge>
              <ion-badge color="primary" style="margin-right: 1%;">Duração: {{event.duration}}</ion-badge>
              <ion-badge color="secondary" style="margin-right: 1%;">Local: {{event.room}}</ion-badge>
            </ion-label>
          </ion-item>

        </ion-item-sliding>
      </ion-item-group>
    </ion-list>

    <ion-list-header [hidden]="groups.length > 0">
      Nenhum Evento Encontrado
    </ion-list-header>

    <ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab>
      <ion-fab-button (click)="checkin()"><ion-icon name="qr-scanner"></ion-icon></ion-fab-button>
    </ion-fab>
    {{token}}
  

</ion-content>


